name: CI

on:
  push:
    branches: [ master ]
  workflow_dispatch:
  pull_request:

jobs:
  ci:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        python: [ '3.8', '3.9', '3.10' ]
        os: [ ubuntu, windows, macos ]
      fail-fast: false

    name: Nox - py ${{ matrix.python-version }} - ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Python Setup
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
          architecture: 'x64'
      - name: Install nox
        run: pip install nox
      - name: Run nox
        run: nox -s package_installation
